{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Darmowe 50zł</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->

  <link href="{% static 'blog/img/avatar.jpg' %}" rel="icon">
  
  <link href="{% static 'blog/img/avatar.jpg' %}" rel="apple-touch-icon">

  <!-- Bootstrap CSS File -->
  
  <link href="{% static 'blog/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="{% static 'blog/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'blog/lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'blog/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'blog/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'blog/lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'blog/css/style-sky-blue.css' %}" rel="stylesheet">

  <!-- =======================================================
    Theme Name: DevFolio
    Theme URL: https://bootstrapmade.com/devfolio-bootstrap-portfolio-html-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<style>
  #contact .fa {
  padding: 20px;
  font-size: 100px;
  width: 75px;
  text-align: center;
  text-decoration: none;
}
</style>

<body id="page-top" style="background-image: url('{% static 'blog/img/dust.png' %}'">

  <!--/ Nav Star /-->
  <nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll" href="#page-top">Zdobądź darmowe 50 zł w 5minut!</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </nav>
  <!--/ Nav End /-->

  <!--/ Intro Skew Star /-->
  
  <div id="home" class="intro route bg-image " style="background-image: url('{% static 'blog/img/stellar/wall.jpg' %}'); background-size: cover;">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <h1 class="intro-title mb-4">Cześć, wykonaj instrukcję zamieszczoną poniżej.</h1>
          <p class="intro-subtitle"><span class="text-slider-items">Bezpieczny i pewny sposób.,Jednorazowa akcja.,Tylko 5minut roboty.</span><strong class="text-slider"></strong></p>
          <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
        </div>
      </div>
    </div>
  </div>
  <!--/ Intro Skew End /-->



  <!--/ 1 /-->
  <section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container box-shadow-full">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Krok 1
            </h3>
            <p class="subtitle-a">
              Zarejestruj się na stronie <h3><a href="https://www.blockchain.com"> ---> blockchain.com <---</a></h3> 
            </p>
            <div class="work-img">
                <img src="{% static 'blog/img/stellar/1.jpg' %}" class="img-fluid rounded b-shadow-a border" alt="" style="margin-right: 10px;width: calc(100% - 20px);">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

   <!--/ 2/-->
  <section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container box-shadow-full">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Krok 2
            </h3>
            <p class="subtitle-a">
              Po dokonaniu poprawnej weryfikacji serwis przeniesie Cię do Twojego pulpitu, który będzie wyglądał tak jak na obrazku poniżej.
              
            </p>
            <p>Musisz teraz kliknąć niebieski przycisk “Get Started”</p>
            <div class="work-img">
                <img src="{% static 'blog/img/stellar/2.jpg' %}" class="img-fluid rounded b-shadow-a border" alt="" style="margin-right: 10px;width: calc(100% - 20px);">
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </section>

   <!--/ 3/-->
  <section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container box-shadow-full">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
              <h3 class="title-a">
                Krok 3
              </h3>
              <p class="subtitle-a">
                W kolejnym oknie weryfikujesz swój adres e-mail poprzez wciśnięcie niebieskiego przycisku “Send Now”
              </p>
              <div class="work-img">
                  <img src="{% static 'blog/img/stellar/3.jpg' %}" class="img-fluid rounded b-shadow-a border border-dark" alt="" style="margin-right: 10px;width: calc(100% - 20px);">
              </div>
              <p></p>
              <p class="subtitle-a">
                Przed kliknięciem na przycisk “Send Now” dokładnie sprawdź czy wpisany adres e-mail jest poprawny. Następnie podaj swoje dane takie jak imię i nazwisko, datę urodzenia oraz adres zamieszkania.
              </p>
              <div class="work-img">
                  <img src="{% static 'blog/img/stellar/4.jpg' %}" class="img-fluid rounded b-shadow-a border border-dark" alt="" style="margin-right: 10px;width: calc(100% - 20px);height:60%; width:60%;">
              </div>

          </div>
        </div>
      </div>
      
    </div>
  </section>
  

<!--/ 2/-->
  <section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container box-shadow-full">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Krok 4
            </h3>
            <p class="subtitle-a">
              Ostatnim krokiem jest weryfikacja tożsamości. Aby jej dokonać musisz posiadać 1 z 3 niezbędnych dokumentów:
              
            </p>
            <p>prawo jazdy</p>
            <p>paszport</p>
            <p>dowód osobity</p>
            <div class="work-img">
                <img src="{% static 'blog/img/stellar/5.jpg' %}" class="img-fluid rounded b-shadow-a border border-dark" alt="" style="margin-right: 10px;width: calc(100% - 20px);">
            </div>
            <p></p>
            <p class="subtitle-a">
              Kliknij przycisk “Continue”, w następnym oknie wybierz kraj którego dotyczy dokument oraz wskaż który dokument chcesz użyć do weryfikacji tożsamości w serwisie blockchain.com
              
            </p>

            
            <p></p>
            <div class="work-img">
                <img src="{% static 'blog/img/stellar/6.jpg' %}" class="img-fluid rounded b-shadow-a border border-dark" alt="" style="margin-right: 10px;width: calc(100% - 20px);">
            </div>


            <p></p>
            <p>Po zaznaczeniu odpowiedniego dokumentu kliknij “Start”</p>

            <p class="subtitle-a">
              

            Następnie zostaniesz przeniesiony do strony na której będziesz mógł wybrać kamerę, którą zrobisz zdjęcia wymagane do weryfikacji Twojej tożsamości. Wiele osób pisało w do mnie że nie mogło skorzystać z kamery wbudowanej w ich laptopie. Na szczęście serwis daje możliwość dokończenia weryfikacji na telefonie. Aby to zrobić należny skopiować link zaznaczony na obrazku poniżej i przesłać go na telefon. Możesz to zrobić poprzez zeskanowanie kodu QR przy pomocy telefonu lub przesłać link na e-mail i otworzyć go z poziomu skrzynki pocztowej na smartfonie.
              
            </p>

            <div class="work-img">
                <img src="{% static 'blog/img/stellar/7.jpg' %}" class="img-fluid rounded b-shadow-a border border-dark" alt="" style="margin-right: 10px;width: calc(100% - 20px)">
            </div>

            <p> System poprosi Cię o wykonanie selfie z dokumentem oraz po jednym zdjęciu przodu i tyłu dokumentu. Pamiętaj aby zdjęcia były dobrej jakości.</p>

            <p>Po wysłaniu zdjęć otrzymasz informację o rozpoczęciu procesu weryfikacji. Proces ten zazwyczaj trwa do kilku minut</p>

          <div class="work-img">
                <img src="{% static 'blog/img/stellar/8.jpg' %}" class="img-fluid rounded b-shadow-a border border-dark" alt="" style="margin-right: 10px;width: calc(100% - 20px);height:50%; width:50%;">
            </div>
          
          <p>Gdy darmowe XLM Stellar od Blockchain.com pojawią się na Twoim koncie, na Twój adres mailowy przyjdzie odpowiednia wiadomość wyglądająca mniej więcej tak: </p>

          <div class="work-img">
                <img src="{% static 'blog/img/stellar/9.jpg' %}" class="img-fluid rounded b-shadow-a border border-dark" alt="" style="margin-right: 10px;width: calc(100% - 20px);">
            </div>


          </div>
        </div>
      </div>
      
    </div>
  </section>
  

 <!--/ 5/-->
  <section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container box-shadow-full">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Krok 5
            </h3>
            <p class="subtitle-a">
              Po otrzymaniu XLM na portfel blockchain.com wyślij je na wskazany na adres,
              a ja Ci zapłacę 50zł.
            </p>
            
            <p>Wybierz opcję SEND</p>
            
            <div class="work-img">
                <img src="{% static 'blog/img/stellar/s10.png' %}" class="img-fluid rounded b-shadow-a" alt="" style="margin-right: 10px;width: calc(100% - 20px); height:60%; width:60%;">
            </div>
            <p></p>
            <p><b>Prawidłowo</b> wypełnij formularz!</p>
            
            <p>Skopiuj poniższy klucz</p>
            <b><p>GBQ6RTEHEHXFPKSWCIM4KSVQXBANLFMVV6FJIZDLTF3ZOGFHTBDZUYDD</p></b>
            <p></p>
            <div class="work-img">
                <img src="{% static 'blog/img/stellar/sent.jpg' %}" class="img-fluid rounded b-shadow-a" alt="" style="margin-right: 10px;width: calc(100% - 20px); height:50%; width:50%;">
            </div>
            <p>Kliknij Continue i odezwij się do mnie po 50 zł.</p>
            <p>Dziękuję za współpracę i pozdrawiam!</p>
          </div>
        </div>
      </div>
      
    </div>
  </section>

  

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

  <!-- JavaScript Libraries -->
  <script src="{% static 'blog/lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'blog/lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'blog/lib/popper/popper.min.js' %}"></script>
  <script src="{% static 'blog/lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'blog/lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'blog/lib/counterup/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'blog/lib/counterup/jquery.counterup.js' %}"></script>
  <script src="{% static 'blog/lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'blog/lib/lightbox/js/lightbox.min.js' %}"></script>
  <script src="{% static 'blog/lib/typed/typed.min.js' %}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{% static 'blog/contactform/contactform.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'blog/js/main.js' %}"></script>

</body>
</html>
