{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Jakob Wolitzki portfolio</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->

  <link href="{% static 'blog/img/avatar.jpg' %}" rel="icon">
  
  <link href="{% static 'blog/img/avatar.jpg' %}" rel="apple-touch-icon">

  <!-- Bootstrap CSS File -->
  
  <link href="{% static 'blog/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="{% static 'blog/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'blog/lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'blog/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'blog/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'blog/lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'blog/css/style-sky-blue.css' %}" rel="stylesheet">

  <!-- =======================================================
    Theme Name: DevFolio
    Theme URL: https://bootstrapmade.com/devfolio-bootstrap-portfolio-html-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<style>
  #contact .fa {
  padding: 20px;
  font-size: 100px;
  width: 75px;
  text-align: center;
  text-decoration: none;
}
</style>

<body id="page-top" style="background-image: url('{% static 'blog/img/dust.png' %}'">

  <!--/ Nav Star /-->
  <nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll" href="#page-top">Wolitzki's World</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll active" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#work">Work</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#blog">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--/ Nav End /-->

  <!--/ Intro Skew Star /-->
  
  <div id="home" class="intro route bg-image" style="background-image: url('{% static 'blog/img/g1.gif' %}'); background-size: cover;">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <h1 class="intro-title mb-4">I am Jakob Wolitzki</h1>
          <p class="intro-subtitle"><span class="text-slider-items">Developer,Young Entrepreneur, Public Speaker</span><strong class="text-slider"></strong></p>
          <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
        </div>
      </div>
    </div>
  </div>
  <!--/ Intro Skew End /-->

  <section id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-6 text-center">
                <div class="row">            
                  <div class="about-img">                  
                    <img src="{% static 'blog/img/avatar.jpg' %}" class="img-fluid rounded b-shadow-a" alt="" style="margin-right: 10px;width: calc(100% - 20px);">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      About me
                    </h5>
                  </div>
                  <p class="lead">
                      Hello there! My name is <b>Jakob Wolitzki</b> and I' am a Polish, 20 years old <b>Python Developer</b>.
                       I am always optimistic and opened minded guy focused mostly on creating backend in <b>Django</b>.
                  <p class="lead">
                      I have great experience with <b>Django Rest Framework</b> and <b>Django ORM</b>. Additionaly I create <b>automation scripts</b>
                      and <b>webscrapers</b>. At present I am learning <b>Machine Learning</b>.
                  </p>
                    
                  </p>
                  <p class="lead">
                    I love sharing my knowledge with others and participating on public IT events as a <b>speaker</b>.
                    So far I talked about Python, Django, API, Webscraping, Instagram.
                  </p>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!--/ Section Portfolio Star /-->
  <section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Portfolio
            </h3>
            <p class="subtitle-a">
              Github projects which I was working on.
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      {% for post in github|slice:'0:6'%}
      {% if forloop.counter0|divisibleby:3 %}
      <div class="row">
      {% endif %}
        <div class="col-md-4" style="margin-bottom:3rem;">
          <div class="work-box border border-secondary" style="height:100%;margin-bottom:0!important">
            <a href={{post.url}}> 
              <div class="work-img">
                <img src="{{post.image.url}}" alt="" class="img-fluid" style="height: 220px;object-fit: cover; width:100%">
              </div>
            </a>
          </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </section>

  

  <!--/ Section Blog Star /-->
  <section id="blog" class="blog-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Blog
            </h3>
            <p class="subtitle-a">
              My newest posts from Instagram.
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>


        {% for post in posts|slice:'0:6'%} 
        {% if forloop.counter0|divisibleby:3 %}
        <div class="row">
        {% endif %}
        <div class="col-md-4" style="margin-bottom:3rem;">
          <div class="card card-blog border border-secondary" style="height:100%;margin-bottom:0!important">
            <div class="card-img">        
              <a href="http://{{post.url}}"><img src="{{ post.img }}" alt="" class="img-fluid"></a>
              
            </div>
            <div class="card-body">
              <div class="card-category-box">
              </div>
              <!--<h3 class="card-title"><a href="blog-single.html">See more ideas about Travel</a></h3>-->
              <p class="card-description">
                {{post.description|linebreaks|slice:'150'}}...
              </p>
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
        </div>
        {% endif %}

      {% endfor %}
  </section>
  <!--/ Section Blog End /-->

  <!--/ Section Contact-Footer Star /-->
  
  <section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image:url('{% static 'blog/img/contact.jpeg' %}'); background-size: cover;">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="contact-mf">
            <div id="contact" class="box-shadow-full">
                <div class="title-box text-center">
                    <h3 class="title-a">
                      Contact
                    </h3>
                    <p class="subtitle-a">
                        My mail: <b>jakob.wolitzki@gmail.com</b>
                    </p>
                      <div class="line-mf"></div>
                </div>
                <div class="row">
                <div class="col-md-4 text-center">
                  <a href="https://www.instagram.com/jakobowsky/" class="fa fa-instagram" style="width:160px"></a>
                </div>
                <div class="col-md-4 text-center">
                  <a href="https://www.linkedin.com/in/jakob-wolitzki/" class="fa fa-linkedin" style="width:160px"></a>
                </div>
                <div class="col-md-4 text-center">
                  <a href="https://github.com/jakobowsky" class="fa fa-github" style="width:160px"></a>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="copyright-box">
              <p class="copyright">&copy; 2019 Jakob Wolitzki. All Rights Reserved</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </section>
  <!--/ Section Contact-footer End /-->



  

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

  <!-- JavaScript Libraries -->
  <script src="{% static 'blog/lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'blog/lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'blog/lib/popper/popper.min.js' %}"></script>
  <script src="{% static 'blog/lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'blog/lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'blog/lib/counterup/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'blog/lib/counterup/jquery.counterup.js' %}"></script>
  <script src="{% static 'blog/lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'blog/lib/lightbox/js/lightbox.min.js' %}"></script>
  <script src="{% static 'blog/lib/typed/typed.min.js' %}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{% static 'blog/contactform/contactform.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'blog/js/main.js' %}"></script>

</body>
</html>
